<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css"
  </head>
  <body>
    <!-- <% if (kindofday === "Saturday" || kindofday === Sunday){ %>
        <h1 style="color: purple"><%= kindofday %> Todo List</h1>
    <% }else{ %>
        <h1 style="color: green"><%= kindofday %> Todo List</h1>
    <% } %> -->
    <!-- <h1>"It is a <%= kindofday %>!"</h1> -->
    <h1><%= kindofday %></h1>

    <ul>
      <!-- <li> Buy Food </li>
      <li> Cook Food </li>
      <li> Eat Food </li> -->
      <!-- <li> <%= newListItems %> </li> -->
    <%for (i = 0; i< newListItems.length; i++ ){ %>
      <li><%= newListItems[i] %></li>
    <%} %>
    </ul>
    <form class= "" action="/" method="post">
      <!-- <label for="cityInput">City Name:</label> -->
      <input type="text" name="newItem">
      <button type="submit" >Add</button>
    </form>
  </body>
</html>
